name: Build Swiftcord

on:
  push:
  workflow_dispatch:

concurrency:
  group: ref-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-nightly:
    runs-on: macos-12
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v4

      - name: Select Xcode 14.2
        uses: mobiledevops/xcode-select-version-action@v1
        with:
          xcode-select-version: 14.2
        
      - name: Install sentry-cli
        run: curl -sL https://sentry.io/get-cli/ | SENTRY_CLI_VERSION="2.12.0" bash

      - name: Reset SPM
        run: |
          rm -rf ~/Library/Developer/Xcode/DerivedData
          rm -f Swiftcord.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

      - name: Build with xcodebuild
        run: |
          xcodebuild -project Swiftcord.xcodeproj -scheme Swiftcord -configuration 'App Store' archive -archivePath $RUNNER_TEMP/Swiftcord.xcarchive \
          COMPILER_INDEX_STORE_ENABLE=NO \
          CODE_SIGNING_ALLOWED=NO

      - name: Create Release ZIP
        if: always()
        run: |
          APP_PATH="$RUNNER_TEMP/Swiftcord.xcarchive/Products/Applications/Swiftcord.app"
          zip -r Swiftcord.zip "$APP_PATH"

      - name: Upload a Build Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: SwiftcordApp
          path: Swiftcord.zip
